@font-face{
    font-family: Gilroy-ultralight;
    src: url('../fonts/gilroy-ultralight.otf');
}

@font-face{
    font-family: Gilroy-light;
    src: url('../fonts/gilroy-light.otf');
}

@font-face{
    font-family: Gilroy-thin;
    src: url('../fonts/gilroy-thin.otf');
}

@font-face{
    font-family: Gilroy;
    src: url('../fonts/gilroy-regular.otf');
}

@font-face{
    font-family: Gilroy-medium;
    src: url('../fonts/gilroy-medium.otf');
}

@font-face{
    font-family: Gilroy-semibold;
    src: url('../fonts/gilroy-semibold.otf');
}

@font-face{
    font-family: Gilroy-bold;
    src: url('../fonts/gilroy-bold.otf');
}

@font-face{
    font-family: Gilroy-extrabold;
    src: url('../fonts/gilroy-extrabold.otf');
}



