// Dashboard Variables

$icon : #4b35e6;
$light-blue : #4b35e6;
$blue : #4c33e5;
$dark-blue : #190064;

// Fonts
$ultralight : 'Gilroy-ultralight',sans-serif, arial;
$regular : 'Gilroy',sans-serif, arial;
$medium : 'Gilroy-medium',sans-serif, arial;
$light : 'Gilroy-light',sans-serif, arial;
$semibold : 'Gilroy-semibold',sans-serif, arial;
$bold : 'Gilroy-bold',sans-serif, arial;

.sign-in-container{
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(122deg, #3d6bfb, #5a00d1);
    padding: 2.25rem 0px;
    color: #fff;
}

.brand{
    font-family: $bold;
    letter-spacing: 1px;
    font-size: 1.4rem;
    text-align: left;
    font-weight: bold;
}

.query{
    font-family: $bold;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
}

.hero-container{
    width: 100%;
    padding-top: 4rem;

    .hero-title{
        font-family: $bold;
        font-size: 2.9rem;
        font-style: normal;
    }

    .hero-form{
        width: 100%;
        padding: 1.5rem 0px;
        padding-bottom: 0px;

        form{
            display: block;
            width: 100%;

            .text-field-container{
                display: block;
                width: 100%;
                padding: .25rem 0px;
                margin: 0px;
                margin-bottom: 1.25rem;

                label{
                    font-family: $semibold;
                    display: block;
                    font-size: .8rem;
                    letter-spacing: 2px;
                    text-align: left;
                    font-weight: 600;
                    padding: 0px;
                    margin-bottom: .5rem;
                }

                input{
                    font-family: 'Gilroy-light',sans-serif,arial;
                    display: block;
                    width: 100%;
                    padding: .8rem 1.25rem;
                    font-size: 1rem;
                    color: #fff;
                    text-align: left;
                    border-radius: 2px;
                    border: solid 2px #ffffff;
                    background: transparent;
                    outline: none;
                }

                input::-webkit-input-placeholder { 
                    color: rgba(255, 255, 255, 0.75);
                    font-weight: 300;
                    letter-spacing: 1px;
                }
                
            }

            .pass-recover{
                display: inline-block;
                font-family: $semibold;
                padding-bottom: .25rem;
                border-bottom: solid 2px rgba(255, 255, 255, 0.9);
                font-size: .9rem;
                color: #fff;
                letter-spacing: 2px;
                text-align: left;
                margin: .7rem 0px;
            }

            .hero-btn-box{
                display: block;
                width: 15rem;
                margin-top: 1.75rem;

                button{
                    display: block;
                    width: 100%;
                    padding: .9rem .25px;
                    font-size: .9rem;
                    font-family: 'Gilroy-semibold',sans-serif,arial;
                    letter-spacing: 2px;
                    text-align: center;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

            }
            
        }
    }
}

.btn-white{
    color: #415df6;
    background: #fff;
    
}

.btn-blue{
    margin-top: 1.5rem;
    color: #fff;
    background: #190064;
}













